@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --KalfArtBg: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #FFF;
  max-width: 1440px;
  margin: 0 auto;
}

/* ::-webkit-scrollbar {
        display: none;
        visibility: hidden;
        opacity: 0
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  display: flex;
  padding: 10px 165px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #FFF;
  z-index: 1000;

  & a {
    display: flex;
    align-items: center;
    gap: 40px;
    color: black;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  & img {
    display: block;
    position: unset;
    border-radius: 50px;
    width: 60px;
    height: 60px;
  }

  & li a {
    color: black;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  & button {
    padding: 12px 24px;
    background: #000;
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;

    &:hover {
      background: #DFDFDF;
      color: #000;
    }
  }
}

.container {

  & .largeKalfArt {

    & .blackBgKalfArt {
      background: #000;

      & h1 {
        color: #FFF !important;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 4.167px;
        text-transform: uppercase;
      }

      & p {
        color: #999999;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
      }

      & a {
        color: #FFF !important;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
      }

      & .KalfArtText::before {
        content: "";
        position: absolute;
        bottom: 20%;
        left: 0;
        width: 6px;
        height: 60%;
        background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
      }
    }

    & .KalfArt {
      display: flex;

      & h1 {
        color: #000;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 4.167px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      & p {
        color: #999999;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 48px;
      }

      & a {
        color: #000;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        cursor: pointer;
      }

      & .KalfArtText {
        padding: 140px 112px;
        position: relative;
        flex-basis: 40%;

        & .getAnInvite {
          display: flex;
          gap: 16px;
          position: relative;

          & a {
            display: flex;
            gap: 16px;
            align-items: center;

            & img {
              display: block;
              flex-basis: 42px;
            }
          }

          & .linkText:hover {
            border-bottom: 1px solid #FFF;
          }
        }
      }

      & img {
        flex-basis: 60%;
        object-fit: cover;
        overflow: hidden;
      }
    }
  }

  & .smallKalfArt {
    display: flex;

    & .smallKalfArt {
      position: relative;
      transition: transform 0.5s ease;

      & img {
        display: block;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
      }

      & .smallKalfArtInfo {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 40px;

        & .smallKalfArtText {

          & h1 {
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            margin-bottom: 2px;
          }

          & p {
            color: #FFF;
            font-size: 13px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 16px;
          }
        }

        & .readKalfArt {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          & a {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
          }
        }
      }

      &:hover {
        transform: translateY(-30px);
        background: linear-gradient(27deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);

      }
    }
  }
}

.footerContainer {
  background: #000;
  display: flex;
  justify-content: space-between;
  padding: 64px 170px;

  & .footerHeader {
    display: flex;
    gap: 110px;

    & h1 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 2px;
      padding-bottom: 10px;
    }
  }

  & .footerInviteAndPolicy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & .getAnInvite {

      & a {
        display: flex;
        align-items: center;
        gap: 16px;
        color: #FFF;
        padding-bottom: 16px;

        & img {
          flex-basis: 42px;
        }
      }
    }

    & p {
      color: #999999;
      text-align: right;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    & p a {
      color: white;
    }
  }
}

.KalfArtContainer {

  & .largestImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

    & video {
      display: block;
    }

    & .largesImgText {
      position: absolute;
      text-align: center;
      top: 0;
      padding: 10px 940px 0px 650px;

      & h3 {
        color: #FFF;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2px;
        margin-bottom: 24px;
      }

      & h1 {
        color: #FFF;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 4.167px;
      }

      & p {
        color: #999999;
        font-family: DM Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 24px;

        & span {
          color: #FFF;
          font-size: 13px;
          font-weight: 400;
          line-height: normal;
        }
      }

      & .readKalfArt {
        display: flex;
        gap: 16px;
        align-items: center;

        & a {
          color: #FFF;
          text-align: right;
          font-size: 12px;
          font-weight: 700;
          line-height: normal;
          letter-spacing: 2px;
        }
      }
    }
  }

  & .smallKalfArt {
    display: inline-flex;
    flex-wrap: wrap;

    & .smallKalfArt {
      width: 25%;
      position: relative;
      transition: transform 0.5s ease;

      & img {
        display: block;
      }

      & .smallKalfArtInfo {
        width: 100%;
        position: absolute;
        top: 310px;
        padding: 0 40px;
        padding: 40px;

        & .smallKalfArtText {

          & h5 {
            color: #FFF;
            font-size: 13px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 4px;
          }

          & h1 {
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 25px;
            /* 138.889% */
            margin-bottom: 4px;
          }

          & p {
            color: #FFF;
            font-size: 13px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 16px;
          }
        }

        & .readKalfArt {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;

          & a {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 2px;
          }
        }
      }

      &:hover {
        transform: translateY(-30px);
      }
    }

    .smallKalfArt:hover::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;
    }
  }
}

.mobile-menu {
  display: none;
}